parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$ch of function curl_close expects resource, CurlHandle\\|resource given\\.$#"
			count: 1
			path: ../../src/Http.php

		-
			message: "#^Parameter \\#1 \\$ch of function curl_errno expects resource, CurlHandle\\|resource given\\.$#"
			count: 1
			path: ../../src/Http.php

		-
			message: "#^Parameter \\#1 \\$ch of function curl_error expects resource, CurlHandle\\|resource given\\.$#"
			count: 1
			path: ../../src/Http.php

		-
			message: "#^Parameter \\#1 \\$ch of function curl_exec expects resource, CurlHandle\\|resource given\\.$#"
			count: 1
			path: ../../src/Http.php

		-
			message: "#^Parameter \\#1 \\$ch of function curl_setopt expects resource, CurlHandle\\|resource given\\.$#"
			count: 3
			path: ../../src/Http.php

		-
			message: "#^Parameter \\$curl_handle of method Jazz\\\\Composer\\\\WPProPlugins\\\\Http\\:\\:request\\(\\) has invalid type CurlHandle\\.$#"
			count: 1
			path: ../../src/Http.php
